.Container {
  position: relative;
  margin-top: 0;
  margin-bottom: var(--spacer);
  display: flex;
  align-items: center;
}

.Button {
  border: none;
  background-color: transparent;
  color: var(--color-light);
  cursor: pointer;
  font-size: 1rem;
  padding: 0;
}

.Button+.PageTitle {
  padding-left: calc(var(--spacer) / 2);
}

.PageTitle {
  font-size: var(--page-title-size);
  text-align: center;
  font-weight: bold;
  margin: 0;
  flex-grow: 1;
  text-align: center;
}