.Info h3 {
  margin: 0 0 calc(var(--spacer) / 3);
}

.Data {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.Data>span {
  margin-right: 4px;
  position: relative;
  display: block;
}

.Data>span:not(:last-of-type):after {
  content: "-";
  margin-left: 4px;
}