:root {
  --darken: #000000;
  --darken-rgb: 0, 0, 0;
  --dark: #24292E;
  --dark-rgb: 60, 62, 68;
  --gray: #3c3e44;
  --gray-lighten: #60636d;
  --light: #ffffff;
  --light-rgb: 255, 255, 255;
  --primary: #ff9800;
  --primary-darken: #cc7a00;
  --container-width: 680px;
  --page-title-size: 1.4rem;
  --spacer: 24px;
  --card-size: 100%;
  --border-radius: 4px;
}

@media screen and (min-width: 768px) {
  :root {
    --page-title-size: 2rem;
    --card-size: 50%;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark);
  color: var(--light);
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: var(--light);
}

.button {
  border: none;
  cursor: pointer;
  font-weight: bold;
  display: inline-block;
  background-color: transparent;
  font-size: 0.8rem;
  color: var(--light);
  border-radius: var(--border-radius);
  background-color: var(--primary);
  transition: background-color 0.3s ease-in;
  padding: calc(var(--spacer) / 2) var(--spacer);
}

.button:hover,
.button:focus {
  background-color: var(--primary-darken);
}